Source: libsquish
Priority: optional
Maintainer: Wookey <wookey@debian.org>
Build-Depends: debhelper (>=9), doxygen, graphviz
Standards-Version: 3.9.8
Section: libs
Homepage: https://sourceforge.net/projects/libsquish

Package: libsquish-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsquish0 (= ${binary:Version}), ${misc:Depends}
Description: DXT texture compression library - development files
 libsquish is a lossy software DXT texture compression library. It
 implements the 3 useful DXT flavours (1,3,5) and has SIMD support for
 x86 (SSE) and powerpc (Altivec). It can be used (as a much slower
 software fallback) instead of the hardware implementations present on
 most modern graphics chips. 
 .
 This package contains the deveopment files (headers, API docs)

Package: libsquish0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DXT texture compression library
 libsquish is a lossy software DXT texture compression library. It
 implements the 3 useful DXT flavours (1,3,5) and has SIMD support for
 x86 (SSE) and powerpc (Altivec). It can be used (as a much slower
 software fallback) instead of the hardware implementations present on
 most modern graphics chips.
 .
 This package is the library itself.
